{{ partial "header.html" . }}
<div class="container">
<main class="single">
	<h1 align="center">{{ .Title }}</h1>
	<div class="row">
		<div class="column column-50">
			<p align="center">dhamarhusainsm</p>
		</div>
		<div class="column column-50">
			<p align="center">
				<time>{{ .Date.Format "02/01/2006" }}</time>
			</p>
		</div>
	</div>
	<div>
		{{ .Content }}
	</div>
	<div>
		{{ range .Params.tags }}
		<span class="badge">{{ . }}</span>
		{{ end }}
	</div>
	<div>
		{{ template "_internal/disqus.html" . }}
	</div>
</main>
</div>
{{ partial "footer.html" . }}